@import '@style/colors';

.sound_volum1 {
  display: inline-block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.sound_volum1 path {
  transition: 0.5s;
}

.sound_volum1:hover path {
  fill: var(--accent_orange);
}
