@import '@style/colors';

.name_container {
  font-family: 'Carter One', cursive;
  font-size: 1.7em;
  color: var(--accent_orange);
  text-shadow: var(--border_text);
}

@media (max-width: 1000px) {
  .name_container {
    font-size: 1.2em;
  }
}
