@import '@style/colors';

.wrapper_rules {
  flex: 1;
  margin-top: 340px;
}

.name_rules {
  color: var(--primary_light);
  font-weight: 700;
  font-size: 1.4em;
  line-height: 45px;
  text-align: center;
}

.text_rules {
  font-size: 1.2em;
  color: var(--primary_light);
  text-align: center;
}
