@import '@style/colors';

.circleBtn {
  width: 2.8em;
  padding: 0.5em;
  border: 1px solid var(--primary_light);
  border-radius: 0.3em;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.circleBtn:hover {
  background-color: var(--primary_light_opacity);
}

.circleBtn:active {
  background-color: var(--accent_orange);
}

.circleSvg {
  display: block;
  width: 100%;
  height: 100%;
}
