@import '@style/colors';

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  gap: 1em;
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
