@import '@style/colors';

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  padding: 0.5em;
  background: var(--primary_dark_opacity);
  border-radius: 0.8em;
}

.colorButton {
  width: 2.8em;
  height: 2.8em;
  border: 1px solid var(--primary_light);
  border-radius: 0.3em;
  cursor: pointer;
}

.colorLabel {
  grid-column: 1 / span 3;
}

.colorInput {
  width: 100%;
  height: 2.8em;
  padding: 0px;
  border: 1px solid var(--primary_light);
  border-radius: 5px;
  appearance: none;
  cursor: pointer;
  background: none;
  overflow: hidden;
}

.colorInput::-webkit-color-swatch-wrapper {
  padding: 0;
}
